.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 1000;
}

.modal {
  position: relative;
  height: auto;
  max-height: 80%;
  padding: 2rem;
  z-index: 2000;
  background-color: white;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;

  overflow-y: scroll;

  @include md {
    max-width: 90%;
    width: 100%;
    top: 5%;
  }

  @include sm {
    padding: 2.5rem 1rem;
  }

  &__title {
    font-size: 25px;
    line-height: 100%;
    text-align: center;

    @include sm {
      font-size: 18px;
    }
  }

  &__text {
    text-align: justify;
    line-height: 130%;
  }

  &__list-ordered {
    list-style: decimal;
    padding-left: 19px;
  }

  &__item-ordered {
    margin-bottom: 5px;
    font-family: var(--montserrat-font-family);
  }

  &__item-unordered {
    position: relative;
    padding-left: 25px;

    &::before {
      content: "—";
      position: absolute;
      left: 0;

      @include sm {
        content: "-";
        top: -2px;
        left: -11px;
      }
    }

    .modal__text {
      line-height: 150%;
    }

    @include sm {
      padding-left: unset;
    }
  }
}

.modal__privacy-policy {
  height: 80%;
  padding: 4rem;
}

.modal__thank-you {
  height: auto;
  padding: 20px;
  text-align: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button-close {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.hidden {
  display: none;
}
