.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 145px 0 72px;

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__content {
    display: flex;
    flex-direction: row;
    padding: 85px 0 95px;
    align-items: center;
    justify-content: space-between;
  }

  &__video-block,
  &__video {
    width: 790px;
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 779px;
  }

  &__hr {
    width: 200px;
    margin-left: 0;
    text-align: start;
    color: $color-blue-dark;
    height: 2px;
  }

  &__button-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__button {
    width: 386px;
  }
}
