.benefits {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 73px 0 145px;

  &__content {
    padding: 85px 0 95px;
    display: grid;
    gap: 50px 22px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  
  &__button {
    width: 386px;
  }
}

.benefits-card {
  display: grid;
  grid-template-rows: 38% 1fr;

  &:nth-child(1),
  &:nth-child(4),
  &:nth-child(6),
  &:nth-child(9),
  &:nth-child(12) {
    .benefits-card__title {
      color: $color-orange;
    }
  }

  &:nth-child(2),
  &:nth-child(8),
  &:nth-child(11) {
    background: $color-blue-light-gradient;  
  }

  &__img {
    filter: saturate(100%) brightness(100%);
  
    &:hover {
      filter: saturate(130%) brightness(115%);
  }
  }
}


