.clients {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 73px 0 72px;

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__cards {
    display: flex;
    gap: 25px;
    padding: 85px 0 95px;
  }

  

  &__button-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__button {
    width: 386px;
  }

  &__info {
    color: $color-white;
  }
}

.clients-card {
  display: flex;
  flex-direction: column;
  width: 386px;
  height: 400px;
  padding: 28px;
  justify-content: flex-end;

  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(4) {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
  }

  &:nth-child(1) {
    background-image: url('/assets/images/clients-individual.png');
  }

  &:nth-child(2) {
    background-image: url('/assets/images/clients-pair.png');
  }

  &:nth-child(3) {
    background-image: url('/assets/images/clients-family.png');
  }

  &:nth-child(4) {
    background-image: url('/assets/images/clients-group.png');
  }
}
