.clients {
  padding: 73px 0 72px;

  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    padding: 85px 0 95px;
  }
}

.clients-card {
  position: relative;

  &__text {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 28px;
  }

  &__title {
    color: $color-orange-light;
  }

  &__info {
    color: $color-white;
  }
}
