.cover {
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(1, 8, 20, 0) 0%,
    rgba(1, 9, 22, 0.105) 23.5%,
    rgba(1, 13, 32, 0.66) 55.5%,
    #010e23 96%
  );
  color: $color-white;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding-top: $header-height;
  padding-bottom: 75px;
  // border-radius: 0 0 100px 100px;
  box-shadow: 0 8px 40px #2f4568a3;

  @include lg {
    padding-bottom: 55px;
  }

  @include md {
    padding-bottom: 43px;
  }

  @include sm {
    padding-bottom: 95px;
    background-image: url("/assets/images/cover_background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  @include xs {
    padding-bottom: 67px;
  }

  &__wrapper {
    height: 100%;
    // height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr auto;
  }

  &__content {
    grid-row: 2 / 3;
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas:
      "subtitle-top subtitle-top subtitle-top subtitle-top"
      "title-top title-top title-top psychotherapy"
      "sextherapy icons title-bottom title-bottom"
      "subtitle-bottom subtitle-bottom subtitle-bottom subtitle-bottom";

    @include sm {
      grid-template-columns: repeat(3, 1fr);
      row-gap: 20px;
      grid-template-areas:
        "subtitle-top subtitle-top subtitle-top"
        "title-top title-top title-top"
        "sextherapy icons psychotherapy"
        "title-bottom title-bottom title-bottom"
        "subtitle-bottom subtitle-bottom subtitle-bottom";
    }
  }

  &__title {
    &.top {
      grid-area: title-top;
    }

    &.bottom {
      grid-area: title-bottom;

      @include sm {
        max-width: 70%;
        justify-self: end;
        text-align: right;
      }
    }
  }

  &__subtitle {
    color: $color-white;

    &.top {
      grid-area: subtitle-top;
    }

    &.bottom {
      grid-area: subtitle-bottom;
      text-align: right;
    }
  }

  &__therapy {
    font-family: var(--raleway-font-family);
    font-size: 35px;
    font-weight: var(--h2-title-font-weight, 500);
    font-style: italic;

    @include lg {
      font-size: 26px;
    }

    @include md {
      font-size: 16px;
    }

    @include xs {
      font-size: 14px;
    }

    &.psychotherapy {
      grid-area: psychotherapy;
    }

    &.sextherapy {
      grid-area: sextherapy;
    }
  }

  &__icons-container {
    grid-area: icons;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  &__action {
    grid-row: 3 / 4;
    padding-top: 50px;
  }

  &__cross {
    fill: $color-white;
  }

  &__video {
    position: absolute;
    inset: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;

    @include sm {
      display: none;
    }
  }
}
