.cover {
  display: flex;
  justify-content: center;
  align-items: center;
  // background: rgba(0,0,0,.5);
  background-image: linear-gradient(
    180deg,
    rgba(1, 8, 20, 0) 0%,
    rgba(1, 9, 22, 0.105) 23.5%,
    rgba(1, 13, 32, 0.66) 55.5%,
    #010e23 96%
  );
  color: $color-white;
  position: relative;
  //   padding: 550px 0 75px;
  padding: 470px 0 75px;
  height: 100%;
  overflow: hidden;

  &__video-bg {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    //   align-items: center;
  }

  &__overhead-title,
  .h1-title,
  &__clients {
    color: $color-white;
  }

  &__title_1-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__therapy name {
    font-family: var(--raleway-font-family);
    font-style: italic;
    font-size: 35px;
    font-weight: var(--h2-title-font-weight, 500);
  }

  &__title_2-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__clients {
    display: flex;
    align-content: end;
    flex-wrap: wrap;
    flex-direction: row-reverse;
  }

  &__overhead-title {
    padding-bottom: 10px;
  }
  &__clients {
    padding-top: 10px;
  }

  &__action {
    padding-top: 50px;
  }

  &__button {
    width: 523px;
  }

  &__cross {
    fill: $color-white;
  }
}
