.expertise {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 73px 0 72px;
  

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 125px;
    padding: 85px 0 95px;
  }

    &__sexuality, 
    &__relationship,
    &__inner {
        display: flex;    
        gap: 25px;
        align-items: flex-start;
    }

  &__relationship-title,
  &__sexuality-title,
  &__inner-title {
    display: flex;
    align-items: center;
    max-width: 487px;
    width: 100%;
    position: relative;
  }

  &__title-block {
  white-space: nowrap;
  }

  &__line {
    flex-grow: 1;
    height: 1px;
    background-color: $color-blue-dark;
    margin-left: 1em;
  }

  &__line::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 10px; /* Диаметр шарика */
    height: 10px; /* Диаметр шарика */
    background-color: $color-blue-dark; /* Цвет шарика */
    border-radius: 50%;
    transform: translateY(-50%);
  }

  &__sexuality-pic,
  &__relationship-pic,
  &__inner-pic {
    max-width: 387px;
    width: 100%;
    height: 580px;
  }

  &__sexuality-text,
  &__relationship-text,
  &__inner-text {
display: flex;
flex-direction: column;
gap: 30px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__small-title {
    display: flex;
    align-items: center;
    max-width: 670px;
    width: 100%;
    position: relative;
  }

  &__title-section {
  white-space: nowrap;
  color: $color-orange;
  }

  &__line-dash {
    flex-grow: 1;
    height: 1px;
    // background-color: $color-blueDark;
    margin-left: 1em;
    border-bottom: 1px dashed $color-orange;
  }

  &__conclusion {
    display: flex;
    width: 100%;
    padding-bottom: 95px;
  }

  &__conclusion-empty {
    max-width: 512px;
    width: 100%;
  }

  &__conclusion-p {
    text-align: left;
    max-width: 685px;
    width: 100%;
  }

  &__button {
    width: 386px;
  }
}