.faq {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 145px 0 72px;

  &__wrapper {
    display: grid;
    grid-template-columns: 15% 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 50px;
  }

  &__title {
  }

  &__content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  &__action {
    grid-column: span 2;
  }
}

.faq-item {
  margin: 0;
  border: none !important;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px !important;
    background: $color-blue-light-gradient;
  }

  &__title {
    font-weight: lighter !important;
    font-size: 25px !important;
    outline: none !important;

    &:active {
      outline: none;
    }
  }

  &__info {
    padding: 35px;
  }
}

.ac .ac-trigger {
  &::after {
    content: url('data:image/svg+xml;utf8,<svg width="28" height="29" viewBox="0 0 28 29" xmlns="http://www.w3.org/2000/svg"> <path d="M12.6 0.403809H15.4V10.2038H12.6V0.403809ZM12.6 18.6038H15.4V28.4038H12.6V18.6038ZM18.2 13.0038H28V15.8038H18.2V13.0038ZM0 13.0038H9.8V15.8038H0V13.0038Z" fill="dark blue"/></svg>') !important;
  }

  &:focus {
    color: $color-blue-dark !important;
  }
}

.ac.is-active {
  .ac-trigger::after {
    // rotate: 45deg;
  }
}
