.faq {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 145px 0 72px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    width: 100%;
    max-width: 1209px;
    display: grid;
    gap: 35px;
  }
}

.faq-item {
  &__title {
    padding: 35px;
    background: $color-blue-light-gradient;
  }

  &__info {
    padding: 35px;
    display: none;
    animation: faq-answer 0.5s ease-out;

    &.open {
      display: block;
    }
  }
}

@keyframes faq-answer {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
