.feedback {
  display: flex;
  justify-content: center;
  align-items: center;

  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: 145px 0 145px;
  }

  &__h2 {
    color: $color-white;
  }

  &__cross {
    fill: $color-white;
  }
}

.swiper {
  position: relative;
  margin: 98px 0 78px;
  width: 1346px;
  height: 351px;
  padding-bottom: 3rem;

  &__picture {
    max-width: 50px;
    width: 100%;
    max-height: 37.5px;
  }

  & > img {
    width: 100%;
    height: 100%;
  }

  &__text-general {
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translate(-50%);
    max-width: 660px;
    width: 100%;
    max-height: 351px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 30px 0;
    z-index: 2;
  }

  &__hr {
    width: 240px;
    height: 1px;
    background-color: $color-orange;
    border: none;
    margin-left: 0;
  }

  &__text {
    height: 140px;
    color: $color-white;
  }
}

.swiper__name {
  color: $color-orange;
}

.swiper-pagination {
  position: absolute;
}

.swiper-pagination-bullet {
  cursor: pointer;
  opacity: 1;
  margin: 0 5px;
  background: $color-blue-light;
  width: 20px;
  height: 20px;
}

.swiper-pagination-bullet-active {
  background: $color-orange;
}

.lunchbox {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 0 70px;
}

.swiper-button-prev {
  left: 0;
  color: $color-white;
}

.swiper-button-next {
  right: 0;
  color: $color-white;
}

.swiper-wrapper {
  gap: 25px;
}

.swiper-slide {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 660px;
  width: 100%;
}
