.feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/images/feedback_background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__wrapper {
    padding: 145px 0;
  }

  &__title {
    color: $color-white;
  }

  &__content {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0 70px;
  }

  &__slide {
    display: grid !important;
    grid-template-rows: auto 1fr auto auto auto;
    gap: 15px;
  }

  &__text {
    color: $color-white;
    margin-bottom: 10px;
  }

  &__line {
    width: 240px;
    height: 1px;
    background-color: $color-orange;
    border: none;
    margin-left: 0;
  }

  &__client {
    color: $color-orange;
  }

  &__client-info {
    color: $color-white;
  }

  &__cross {
    fill: $color-white;
  }
}

.swiper {
  position: relative;
  margin: 98px 0 78px;
  padding-bottom: 6% !important;
}

.swiper-pagination-bullet {
  cursor: pointer;
  width: 10px !important;
  height: 10px !important;
  margin: 0 5px;
  background: $color-white !important;
}

.swiper-pagination-bullet-active {
  width: 25px !important;
  border-radius: 5px !important;
  background: $color-orange !important;
}

.swiper-button-prev::after {
  left: 0;
  color: $color-white;
}

.swiper-button-next::after {
  right: 0;
  color: $color-white;
}

.swiper-wrapper {
  gap: 25px;
}
