.methods {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 73px 0 72px;

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__cards {
    display: flex;
    gap: 25px;
    padding: 85px 0 95px;
    justify-content: space-between;
    align-items:flex-start;
  }

  &__button-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__button {
    width: 386px;
  }
}

.methods-card {
  display: grid;
    grid-template-rows: 35% 1fr;
    width: 245px;
    // height: auto ;
    // gap: 9px;

    // &:nth-child(odd) {
    //   .methods-card__title {
    //     color: $color-orange;
    //   }
    // }
    
    // &:nth-child(2) {
    //   padding-bottom: 60px;
    // }

    // &:nth-child(6) {
    //   padding-bottom: 50px;
    // }

}

