.methods {
  padding: 73px 0 72px;

  &__cards {
    gap: 0 25px;
    padding: 85px 2px 95px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 15%;
  }

  &__button-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__button {
    width: 386px;
  }
}

.methods-card {
  display: grid;
  grid-template-rows: 25% 1fr;
  gap: 10px;

  &:nth-child(odd) {
    .methods-card__title {
      color: $color-orange;
    }
  }

  &:nth-child(2),
  &:nth-child(6) {
    background: $color-blue-light-gradient;
  }

  &:nth-child(4) {
    grid-row: span 2;
  }
}
