.price {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 73px 0 72px;

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__cards {
    display: flex;
    justify-content: center;
    padding: 85px 0 95px;
    gap: 81px;
  }

  &__card {
    display: grid;
    max-width: 411px;
    width: 100%;
    padding: 50px 30px 46px;
    gap: 30px;
  }
}

.price-card {
  &__cross-container {
    display: flex;
    gap: 30px;
  }

  &__list {
    list-style-type: disc;
    padding-left: 25px;
  }

  &__price {
    font-family: var(--raleway-font-family);
    font-size: 48px;
    font-weight: 500;
    text-transform: uppercase;
  }

  &:nth-child(1) {
    background: $color-orange-dark;
    color: $color-white;

    .price-card__cross {
      fill: $color-white;
    }

    .price-card__title {
      color: $color-white;
      margin-bottom: 45px;
    }

    .price-card__duration {
      color: $color-white;
    }

    .price-card__list-item {
      color: $color-white;
    }
  }

  &:nth-child(2),
  &:nth-child(3) {
    background: $color-blue-light;
  }
}
