.registration {
    display: flex;
    justify-content: center;
      align-items: center;
      padding: 73px 0 145px;
    
    
    &__wrapper {
        display: flex;
        flex-direction: column;
        height: 100%; 
      }
    }
