.words {
  padding: 161px 0 161px;
  background-image: url("/assets/images/words_background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    max-width: 820px;
    text-align: center;
  }
}
