.words {
  padding: 161px 0 161px;
  background-image: url("/assets/images/words_background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    max-width: 702px;
    text-align: center;

    @include lg {
      max-width: 526px;
    }

    @include md {
      max-width: 347px;
    }

    @include xs {
      max-width: 259px;
    }
  }
}
