.button-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;

  @include sm {
    justify-content: center;
    align-items: center;

    .icon-cross {
      display: none;
    }
  }
}
