.btn {
    height: 93px;
    border-radius: 53px;
    text-align: center;
    border: none;
    background: $color-orangeMiddle;
    color: $color-white;
}

.btn:hover {
    background: $color-orangeLight;
}

.btn:active {
    background: $color-orangeDark;
}

