.btn {
  max-width: 386px;
  width: 100%;
  height: 93px;
  border-radius: 53px;
  text-align: center;
  border: none;
  background: $color-orange-middle;
  color: $color-white;

  &:hover {
    background: $color-orange-light;
  }

  &:active {
    background: $color-orange-dark;
  }
}

// .btn-outline {

// }

.button-up {
  display: block;
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  background: $color-gray-middle;
  border: none;
  border-radius: 30px;
  width: 60px;
  height: 60px;
  padding: 0.6rem 0.7rem 0.9rem;
  z-index: 998;
  transition: 0.4s ease;

  &:hover {
    background: $color-gray-light;
  }

  &:active {
    background: $color-gray-dark;
  }
}
