.btn {
    height: 93px;
    border-radius: 53px;
    text-align: center;
    border: none;
    background: $color-orange-middle;
    color: $color-white;
    
}

.btn:hover {
    background: $color-orange-light;
}

.btn:active {
    background: $color-orange-dark;
}

