.icon-cross {
  max-width: 28px;
  max-height: 28px;
  // fill: $color-blue-dark;

  @include lg {
    max-width: 21px;
  max-height: 21px;
  }

  @include md {
      max-width: 16px;
  max-height: 16px;
  }

  @include sm {
    max-width: 16px;
  max-height: 16px;
  }

  @include xs {
    padding: 30px 0 30px;
    font-size: 11px;
  }

}
