.footer {
  background: $color-blue-light;

  &__content {
    display: grid;
    grid-template-columns: 45% 55%;
    padding: 130px 0 161px;
    margin: 0 auto;

    // @include lg {
    //   padding: 175px 0 155px;
    // }

    // @include md {
    //   grid-template-columns: 1fr;
    //   justify-items: center;
    //   gap: 50px;
    //   padding: 88px 0 88px;
    // }

    // @include sm {
    //   padding: 115px 0 115px;
    // }

    // @include xs {
    //   padding: 85px 0 85px;
    // }
  }

  &__left {
    max-width: fit-content;
    display: grid;
    align-content: space-between;
  }

  &__link {
    text-decoration: none;
    color: $color-blue-dark;
    transition: $transition;
  }

  &__logo-block {
    display: flex;
    align-items: center;
    gap: 35px;
  }

  &__logo {
    width: 92px;
    height: 90px;
  }

  &__logo-text {
    font-weight: 500;
    max-width: 240px;
  }

  &__socials {
    display: flex;
    justify-content: space-between;
  }

  &__right {
    display: flex;
    justify-content: space-between;
    gap: 33px;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 23px;
  }

  &__nav {
    display: grid;
    gap: 20px;

    @include xs {
      gap: 30px;
    }
  }

  &__rights {
    display: grid;
    justify-items: center;
    gap: 15px;
    padding: 47px 0 47px;
    background: $color-blue-dark;

    @include lg {
      padding: 40px 0 40px;
      font-size: 18px;
    }

    @include md {
      font-size: 16px;
    }

    @include sm {
      font-size: 12px;
    }

    @include xs {
      padding: 30px 0 30px;
      font-size: 11px;
    }
  }

  &__copyright {
    color: $color-white;
  }

  &__link-studio {
    color: $color-white;

    &:hover {
      color: $color-orange;
    }
  }
}
