.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  max-height: $header-height;
  height: 100%;
  z-index: 11;
  display: flex;
  justify-content: center;
  background: transparent;
  transition: background 0.3s ease-in-out;

  @include lg {
    max-height: 75px;
  }

  &__container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }

  &__logo {
    max-height: fit-content;

    img {
      @include lg {
        max-width: 64px;
      }
    }
  }

  &__nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100vh;
    background-image: url("/assets/images/menu_background.png");
    background-size: cover;
    background-position: 85% bottom;
    background-repeat: no-repeat;
    z-index: 10;

    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 1);
    overflow-y: auto;
    transform: translateX(100%);
    transition: transform 0.4s linear;

    &.show {
      transform: translateX(0px);

      .header__menu {
        .header__menu-item {
          transform: translateX(0px);
          opacity: 1;

          @for $i from 1 through 12 {
            &:nth-child(#{$i}) {
              transition-delay: #{($i * 0.09)}s;
            }
          }
        }
      }
    }
  }

  &__menu {
    display: grid;
    align-items: center;
    padding: $header-height 50px $header-height 100px;
    height: 100%;
    overflow-y: scroll;
  }

  &__menu-item {
    height: fit-content;
    transition: $transition;
    transform: translateX(25px);
  }

  &__menu-link {
    color: $color-gray-middle;
    text-transform: uppercase;
    transition: $transition;

    &:hover {
      color: $color-white;
    }

    &.active {
      color: $color-orange-light;
    }
  }

  &__end {
    display: flex;
    align-items: center;
    gap: 50px;
  }

  &__contacts {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__link {
    white-space: nowrap;
    color: $color-white;
    transition: $transition;

    &:hover {
      color: $color-gray-middle;
    }
    &:active {
      color: $color-orange-light;
    }
  }

  &__overlay {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: $color-blue-dark;
    transition: $transition;
    opacity: 0;
    visibility: hidden;
    z-index: 1;

    &.show {
      opacity: 0.5;
      visibility: visible;
    }
  }

  &.scrolled {
    background: $color-white;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.05);

    .icon-logo {
      stroke: $color-blue-dark;
    }

    .header__link {
      color: $color-blue-dark;
    }

    .header__burger {
      &::before,
      &::after,
      span {
        background: $color-blue-dark;
      }
    }
  }
}
