.section {
  padding: 90px 150px;

  @include lg {
    padding: 80px 100px;
  }

  @include md {
    padding: 60px 50px;
  }

  @include sm {
    padding: 80px 30px;
  }

  @include xs {
    padding: 70px 20px;
  }
}
